@import './partials/variables';

@mixin icon($color1, $color2, $icon){
    border: 18px solid $color2;

    .shadow-circle {
        background-color: $color1;
    }

    .icon {
        &::before {
            content: url('../../img/icon-#{$icon}.svg');
        }
    }
}