$scissor1: #C5701A;
$scissor2: #eca922;
$paper1: #2947C0;
$paper2: #5671f5;
$rock1: #9D1634;
$rock2: #dd405d;
$lizard1: #6037AD;
$lizard2: #8c5de5;
$spock1: #2C8EAA;
$spock2: #52bed1;


$cyan1: #40b9ce;
$cyan2: #52bed1;

$outline: #bcc1d4;

$darkText: #3b4363;
$score: #2a46c0;
$headerOutline: #444547;

$bg1: #1f3756;
$bg2: #141539;

$bgCircle: #2B3956;

$grey: #CCCDD2;


