$scissor1: #ec9e0e;
$scissor2: #eca922;
$rock1: #4865f4;
$rock2: #5671f5;

$cyan1: #40b9ce;
$cyan2: #52bed1;

$darkText: #3b4363;
$score: #2a46c0;
$headerOutline: #444547;

$bg1: #1f3756;
$bg2: #141539;


