$scissor1: #C5701A;
$scissor2: #eca922;
$paper1: #4865f4;
$paper2: #5671f5;
$rock1: #dc2e4e;
$rock2: #dd405d;

$cyan1: #40b9ce;
$cyan2: #52bed1;

$outline: #bcc1d4;

$darkText: #3b4363;
$score: #2a46c0;
$headerOutline: #444547;

$bg1: #1f3756;
$bg2: #141539;


