@import './partials/variables';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: rgb(31,55,86);
    background: radial-gradient(circle at top, rgba(31, 55, 86, 1) 0%, rgba(20, 21, 57, 1) 100%);
    background-repeat:no-repeat;
    min-height: 100vh;
    color: #ffffff;
    font-family: 'Barlow Semi Condensed',
    sans-serif;
    font-size: 14px;
}

main{
    height: calc(100vh - (197.6px + 1.75rem));
}

.container{
    width: 700px;
    margin: 0 auto;
}

p{
    margin: 0;
}

.App{
    padding-top: 1.75rem;
}

img{
    width: 100%;
}

@media (max-width: 992px){
    .container{
        width: 90%;
    }
    main {
        overflow: hidden;
    }
}

@media (max-width: 768px){
    main {
        height: 65vh;
    }
}

@media (max-width: 576px){
    .App {
        padding-top: 1rem;
    }
}