@import './partials/variables';
@import './partials/mixins';


$icons: 
    "scissors" $scissor1 $scissor2,
    "paper" $paper1 $paper2,
    "rock" $rock1 $rock2;


    
.btn-choice {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    background: $outline;
    background: linear-gradient(180deg, $outline 50%, #ffffff 50%);
    .shadow-circle {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -45%);
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -47%);
        z-index: 3;
        background-color: #E5E4E1;
        border-radius: 50%;
        width: 114px;
        height: 107px;
        &::before{
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }

    @each $name, $color1, $color2 in $icons {
        &.#{$name}{ 
            @include icon($color1, $color2, $name)
        }
    }

}


