.set{
    position: relative;
    height: 100%;
    &:before{
        content: url('../img/bg-pentagon.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .container-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:first-child{
            transform: translate(-53%, -160%);
        }
        &:nth-child(2){
            transform: translate(70%, -79%);
        }
        &:nth-child(3) {
            transform: translate(24%, 49%);
        }
        &:nth-child(4) {
            transform: translate(-124%, 49%);
        }
        &:nth-child(5) {
            transform: translate(-170%, -79%);
        }

    }
}

@media (max-width: 480px){
    .set{
        transform: scale(0.8);
        margin: 0;
    }
}

@media (max-width: 375px) {
    .set {
        transform: scale(0.7) translateY(-15%);
    }
}

@media (max-width: 320px) {
    .set {
        transform: scale(0.6) translateY(-15%);
    }
}